   body {
       margin: 0;
       padding: 0;
   }

   /* 背景：朝・昼 */
   .morning {
       background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
       color: #0066ff;
   }

   /* 背景：夕 */
   .evening {
       background: linear-gradient(to bottom, #f17807f9, #ffffff);
       color: #0066ff;
   }

   /* 背景：夜 */
   .night {
       background: linear-gradient(to bottom, #071161, #9598b1);
       color: #FFFF;
   }

   /* コンテナ */
   .container {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
   }

   /* グリッドレイアウト */
   .grid-container {
       display: grid;
       grid-template-columns: auto auto;
       grid-template-rows: auto auto auto;
       padding: 10px;
       text-align: center;
   }

   /* タイトル */
   .title {
       grid-column: 1/3;
       grid-row: 1;
   }

   /* 更新時間 */
   .time {
       grid-column: 1/3;
       grid-row: 3;
   }